.navMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  --icon-size: 62px;
  --nav-gap: 2rem;
  --connector-height: 12px;
  --connector-border-size: 2px;
  --connector-border-color: var(--gold);
  --connector-fill: var(--brown);

  display: flex;
  gap: var(--nav-gap);
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav li {
  position: relative;
  z-index: 0;
}

.nav li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: calc(var(--icon-size) + var(--nav-gap));
  height: var(--connector-height);

  background: var(--connector-fill);
  border: var(--connector-border-size) solid var(--connector-border-color);

  transform: translateY(-50%);
  z-index: 0;
}

.nav li:last-child::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: calc(var(--icon-size));
  height: var(--connector-height);

  background: var(--connector-fill);
  border: var(--connector-border-size) solid var(--connector-border-color);

  transform: translateY(-50%);
  z-index: 0;
}

.nav li:first-child::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;

  width: calc(var(--icon-size));
  height: var(--connector-height);

  background: var(--connector-fill);
  border: var(--connector-border-size) solid var(--connector-border-color);

  transform: translateY(-50%);
  z-index: 0;
}

.modeLink {
  position: relative;
  z-index: 1;
  display: inline-flex;
  text-decoration: none;
}

.iconContainer {
  border: 3px solid gray;
  border-radius: 50%;
  height: var(--icon-size);
  width: var(--icon-size);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--brown);
  transition:
    transform 160ms ease,
    border-color 160ms ease;
  position: relative;
  z-index: 2;
}

.icon {
  width: 36px;
  height: 36px;
  flex: 0 0 auto;
  color: gray;
  transition:
    color 160ms ease,
    transform 160ms ease;
}

.active .icon {
  color: var(--gold);
}

.active .iconContainer {
  transform: scale(1.1);
  border-color: var(--gold);
  box-shadow: 0 0 12px var(--gold);
}
