.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  transition: transform 200ms ease;
}

.logo:hover {
  transform: scale(1.05);
}
